{% comment %}
Main Feature code starts from line number 32 to 44. you can use it in theme you are working on.
{% endcomment %}
{%- liquid
  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  assign product_tags = product.tags | join: ','
  assign has_custom_label = false
  assign custom_labels = ''
  if product.metafields.theme.label and product.metafields.theme.label != blank
    assign has_custom_label = true
    assign custom_labels = product.metafields.theme.label.value
  elsif product_tags contains '_label_'
    for tag in product.tags
      if tag contains '_label_'
        assign tag_starts_with = tag | slice: 0
        if tag_starts_with == '_'
          assign has_custom_label = true
          assign custom_label = tag | replace: '_label_', ''
          assign custom_labels = custom_labels | append: custom_label | append: ','
        endif
      endif
    endfor
  endif
-%}



{% for variant in product.variants %}
{% assign hide = false %}
{% assign var_han = variant.title | handleize %}
    {% unless show_only contains var_han or show_only.size == 0 %}
      {% assign hide = true %}
    {% endunless %}
  {% if hide_only contains var_han and hide_only.size > 0 %}
      {% assign hide = true %}
  {% endif %}

{% if variant.sku contains 'hide' or hide == true %}
{% else %}

<div class="grid-item grid-product {{ classes }}" data-product-handle="{{ product.handle }}" data-product-id="{{ product.id }}">
  <div class="grid-item__content">

    {%- unless no_actions -%}
      {%- if settings.quick_add_enable or settings.quick_shop_enable -%}
        <div class="grid-product__actions">
          {%- if settings.quick_shop_enable -%}
            <button class="btn btn--circle btn--icon quick-product__btn quick-product__btn--not-ready js-modal-open-quick-modal-{{ product.id }} small--hide" title="{{ 'products.general.quick_shop' | t }}" tabindex="-1" data-handle="{{ product.handle }}">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
              <span class="icon__fallback-text">{{ 'products.general.quick_shop' | t }}</span>
            </button>
          {%- endif -%}
          {%- if settings.quick_add_enable and product.available -%}
            {% comment %}
              Quick add feature:
                - when a single variant option, product is immediately added
                - when multiple variants, popup with product form appears
            {% endcomment %}
              <button type="button" class="text-link quick-add-btn js-quick-add-btn"
                      title="{{ 'products.product.add_to_cart' | t }}"
                      tabindex="-1"
                      data-id="{{ variant.id }}">
                <span class="btn btn--circle btn--icon">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 64 64"><path class="cls-1" d="M32 9v46m23-23H9"/></svg>
                  <span class="icon__fallback-text">{{ 'products.product.add_to_cart' | t }}</span>
                </span>
              </button>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endunless -%}

    {%- liquid
      assign fixed_aspect_ratio = false
      unless settings.product_grid_image_size == 'natural'
        assign fixed_aspect_ratio = true
      endunless

if variant.image
      assign preview_image = variant.image
      else
      assign preview_image = product.featured_media.preview_image
      endif
      assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
    -%}

    <a href="{{ product.url | within: collection }}?variant={{ variant.id }}" class="grid-item__link">
      <div class="grid-product__image-wrap">
        <div class="grid-product__tags">
          {%- if has_custom_label -%}
            {%- assign labels = custom_labels | split: ',' -%}
            {%- for label in labels -%}
              <div class="grid-product__tag grid-product__tag--custom">
                {{ label }}
              </div>
            {%- endfor -%}
          {%- endif -%}

          {%- unless product.available -%}
            <div class="grid-product__tag grid-product__tag--sold-out">
              {{ 'products.product.sold_out' | t }}
            </div>
          {%- endunless -%}
          {%- if on_sale and product.available -%}
            <div class="grid-product__tag grid-product__tag--sale">
              {{ 'products.general.sale' | t }}
            </div>
          {%- endif -%}
        </div>

        {%- if fixed_aspect_ratio -%}
          <div
            class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }}">
            <img class="lazyload{% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %}"
                data-src="{{ img_url }}"
                data-widths="[160, 200, 280, 360, 540, 720, 900]"
                data-aspectratio="{{ preview_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ preview_image.alt | escape }}">
            <noscript>
              <img class="grid-product__image lazyloaded"
                src="{{ preview_image | img_url: '400x' }}"
                alt="{{ preview_image.alt | escape }}">
            </noscript>
          </div>
        {%- else -%}
          {%- liquid
            assign ratio = 1
            if preview_image != blank
              assign ratio = preview_image.aspect_ratio
            endif
          -%}
          <div style="height: 0; padding-bottom: {{ 100 | divided_by: ratio }}%;">
            <img class="grid-product__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080]"
                data-aspectratio="{{ preview_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ preview_image.alt | escape }}">
            <noscript>
              <img class="grid-product__image lazyloaded"
                src="{{ preview_image | img_url: '400x' }}"
                alt="{{ preview_image.alt | escape }}">
            </noscript>
          </div>
        {%- endif -%}

        {%- if settings.product_hover_image and product.media.size > 1 -%}
          {%- for media in product.media offset: 1 limit: 1 -%}
            {%- assign second_image = media.preview_image -%}
          {%- endfor -%}
          <div class="grid-product__secondary-image small--hide">
            {%- assign img_url = second_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 1000]"
                data-aspectratio="{{ second_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ second_image.alt }}">
          </div>
        {%- endif -%}

      </div>

      <div class="grid-item__meta">
        <div class="grid-item__meta-main">
 
         
          <div class="grid-product__title">{{ product.title }} <i>- {{ variant.title }}</i></div>
          {%- if settings.vendor_enable -%}
            <div class="grid-product__vendor">{{ product.vendor }}</div>
          {%- endif -%}
        </div>
        <div class="grid-item__meta-secondary">
          <div class="grid-product__price">
            {%- if product.price_varies -%}
              <span class="grid-product__price--current">
                {%- render 'price-varies', price: product.price_min -%}
              </span>
            {%- else -%}
              {%- if on_sale -%}
                <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
              {%- endif -%}
              <span class="grid-product__price--current">
                {%- render 'price' with product.price -%}
              </span>
            {%- endif -%}
            {%- if on_sale -%}
              <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              <span class="grid-product__price--original">
                {%- render 'price' with product.compare_at_price -%}
              </span>

              {%- if settings.product_save_amount -%}
                {%- if settings.product_save_type == 'dollar' -%}
                  {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{%- endcapture -%}
                {%- else -%}
                  {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%{%- endcapture -%}
                {%- endif -%}
                <span class="grid-product__price--savings">
                  {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                </span>
              {%- endif -%}
            {%- endif -%}

            {%- assign product_variant = variant -%}
            {%- if product_variant.unit_price_measurement -%}
              <div class="product__unit-price">
                {%- capture unit_price_base_unit -%}
                  {%- if product_variant.unit_price_measurement -%}
                    {%- if product_variant.unit_price_measurement.reference_value != 1 -%}
                      {{ product_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                    {{ product_variant.unit_price_measurement.reference_unit }}
                  {%- endif -%}
                {%- endcapture -%}

                {{ product_variant.unit_price | money }}/{{ unit_price_base_unit }}
              </div>
            {%- endif -%}
          </div>

          {%- if settings.enable_product_reviews -%}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {%- endif -%}
        </div>
      </div>
    </a>
  </div>
</div>
	{% endif %}
{% endfor %}
